<div class="columns">
    <div class="column"></div>
    <div class="column">

        <div class="box has-text-centered">
            <h2 class="title is-1">Sign Up</h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <%= f.text_field :fname, autofocus: true, autocomplete: "fname", placeholder: "First Name", class: "input mb-4" %>
                <%= f.text_field :lname, autofocus: true, autocomplete: "lname", placeholder: "Last Name", class: "input mb-4" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input mb-4" %>
                <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "input mb-4" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "input mb-4" %>
                <%= f.submit "Sign up", class: "button is-success is-fullwidth mb-4" %>
            <% end %>
            <%= render "devise/shared/links" %>
        </div>

    </div>
    <div class="column"></div>
</div>