<div class="columns">
    <div class="column"></div>
    <div class="column">

        <div class="box has-text-centered">
            <h2 class="title is-1">Log Into Fakebook</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input mb-4" %>
                <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input mb-4" %>

                <%= f.submit "Log in", class: "button is-info is-fullwidth mb-4" %>

                <%= render "devise/shared/links" %>

            <% end %>
        </div>

    </div>
    <div class="column"></div>
</div>
