<div class="columns">

    <div class="column">
        <%= render "users/info" %>
    </div>

    <div class="column">
        <%= render "shared/friends" %>
    </div>

    <div class="column">
        <%= render "shared/sent-requests" %>
        <%= render "shared/received-requests" %>
        <%= render "shared/strangers" %>
    </div>

</div>