<div class="timeline">
    <% posts.each do |post| %>
        <div class="post">
            <div class="main-post-content">
                <p><%= post.author.name %></p>
                <p><b>Posted: </b><%= time_ago_in_words(post.created_at)%> ago</p>
                <%= post.content %>
                <% if post.author == current_user %>
                    <%= render "shared/delete-interaction", element: post, element_name: "Post" %>
                <% end %>
            </div>

            <div class="post-likes">
                <% if post.likes.count > 0 %>
                    <p>People who liked this post: </p>
                    <% post.likes.each do |like| %>
                        <p><%= like.user.name %></p>
                    <% end %>
                <% end %>
                <% if current_user.likes_include?(post) %>
                    <%= render "shared/delete-interaction", element: current_user.find_like(post), element_name: "Like" %>
                <% else %>
                    <%= render "shared/add-interaction", element: @like, element_name: "Like", post: post %>
                <% end %>
            </div>

            <div class="comment-section">
                <b><p>Comments</p></b>
                <%= render "comments/form", post: post %>
                <% if post.comments.length > 0 %>
                    <% post.comments.each do |comment| %>
                        <p>Comment by: </p> <%= comment.user.name %></p>
                        <p><%= comment.content %></p>
                        <% if comment.user == current_user %>
                            <%= render "shared/delete-interaction", element: comment, element_name: "Comment" %>
                        <% end %>
                    <% end %>
                <% else %>
                        <p>Be the first to comment on this post!</p>
                <% end %>
            </div>
        </div>
    <% end %>
</div>