<%= render "shared/received" %>

<%= render "posts/post" %>

<% current_user.sorted_posts.each do |post| %>
    <p><%= post.author %></p>
    <p><%= time_ago_in_words(post.created_at)%> ago</p>
    <%= post.content %>
<% end %>