<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">
      <div id="logo"><%= link_to "Fakebook", posts_url %></div>
      <div id="status-updates"><%= notice %></div>
      <% if user_signed_in? %>
        <div id="navbar-links">
          <%= link_to "Profile", current_user %>
          <%= link_to "Edit your profile", edit_user_registration_path %>
          <%= link_to "Users", users_url %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </div>
      <% end %>
    </div>
    <div id="main-container">
      <%= yield %>
    </div>
  </body>
</html>